canvas {
    border: 3px solid black;
    margin: 80px;
    background-color: #ddd;
}

body {
    background-color: #47B5D3;
}

body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("sources/logo.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.instructions {
    font-family: monospace;
    text-align: center;
}

#game {
    display: none;
    text-align: center;
}